.container {
    margin-top: 6em;
    
  }

.but{
    
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size:10px;
   
}

.t{
    font-size: xx-large;
    padding-left:10%;
   
}


.butt{
    padding-left:20%;
    
    }
    
.header{
    width: 100%;
    height: 90px;
    background-image: url("../images/background.png");
    background-size: cover;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  }
  .report{
    width: 100%;
    height:200px;
    background-image: url("../images/report.jpg");
    background-size: cover;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;      
  }
  .team{
    width: 100%;
    
    background-image: url("../images/background.png");
    background-size: cover;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;    
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 200px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


#MODAL .modal-wrapper{
    height: 55%;
    border-radius: 5%;
    position: absolute; 
    display: block;  
    
}
.createTeam{
   
    margin:0%;
    
   
}

